.modalWrapper {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7); /* Black w/ opacity */
}

.modalContent {
  background-color: #fff;
  position: fixed;
  top: 10%;
  right: 20%;
  bottom: 10%;
  width: 75%;
  left: 50%;
  margin-left: -37.5%;
}

.closeWrapper {
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 10px;
}

.closeBtn {
  color: #fff;
  padding: 5px;
}