.address {
  margin-right: 8px;
  font-size: 14px;
  color: #aaa;
}
.name{
  color: #666;
  font-size: 16px;
}
.error{
  background-color: #fb3131;
  color: white;
  border-radius: 9px;
  margin-top: 20px;
  padding: 5px 10px;
}