.auth__auth-frame {
  border-left: 1px solid #e5e5e1;
}
.login-header{
  color: #B30C0C;
  font-size: 23px;
  font-weight: bold;
  line-height: 36px;
}

.auth__bundle-frame{
  .hero-register{
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #fff;
    background-color: #89001a;
    transition: all 0.25s ease-in-out;
    border-radius: 2px;
    $height: 45px;
    $width: 150px;
    height: $height;
    width: $width;
    text-align: center;
    line-height: $height;
    font-weight: 500;

    &:hover {
      text-decoration: none;
      background-color: #ad001b;
      color: #fff;
      transition: .5s ease-all;
    }
  }
}
